#!/usr/bin/make -f
# -*- makefile -*-
# DEB_BUILD_OPTIONS="parallel=8"
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

ADD_MAKE_FLAGS=
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  NUMJOBS=$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  ADD_MAKE_FLAGS=-j$(NUMJOBS)
endif

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

override_dh_auto_configure:
	mkdir -p build && cd build && cmake .. -DCMAKE_CXX_FLAGS="$(CXX_FLAGS)" -DCMAKE_EXE_LINKER_FLAGS="$(LDFLAGS)" -DCMAKE_SHARED_LINKER_FLAGS="${LDFLAGS}" -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_auto_build:
	cd build && make VERBOSE=1 $(ADD_MAKE_FLAGS)

override_dh_auto_install:
	cd build && make install DESTDIR=../debian/sayonara

override_dh_auto_clean:
	rm -rf build

%:
	dh $@
	

